@model Student

@{
    ViewData["Title"] = "Edit - CRUD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-2">
    <div class="row justify-content-center">
        <div class="card col-9 text-dark">

            <form class="mx-5 my-3" method="post" asp-action="Edit">

                <input type="hidden" asp-for="StudentId" />

                <div class="mb-3">
                    <h5 class="badge text-white bg-success">@Model.StudentName : STUDENT EDIT</h5>
                </div>
                <div class="mb-3">
                    <label asp-for="StudentName" class="form-label">Name</label>
                    <input type="text" asp-for="StudentName" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="StudentLastName" class="form-label">Last Name</label>
                    <input type="text" asp-for="StudentLastName" class="form-control">
                </div>
                <button type="submit" class="btn btn-secondary">Register Student</button>
            </form>
        </div>
    </div>
</div>

