
@{
    Layout = "_Layout";
    ViewData["title"] = "Welcome - Home";
}

<!--Dogan Yildirim-->



<div class="container my-2">
    <div class="row justify-content-center">
        <div class="card col-9 text-dark p-5">

            <div class="container">
                <h1 class="badge text-white bg-danger" >WELCOME!</h1>
                <h3>This application includes the follow-up of the student.</h3>
                <h3> - Bu uygulama,CRUD işlemlerini içerir. Öğrenci ilişkilerini içerir.</h3>
            </div>

        </div>
    </div>
</div>
